<app-header></app-header>

<div class="auth-container">
  <h2>Signup to EduBuddy</h2>
  <form [formGroup]="signupForm" (ngSubmit)="onSignup()">
    <div class="input-container">
      <input
        type="email"
        formControlName="email"
        id="signup-email"
        name="email"
        placeholder="Email"
        autocomplete="email"
        class="input-field"
      />
    </div>
    <div class="input-container">
      <input
        type="password"
        formControlName="password"
        id="signup-password"
        name="password"
        placeholder="Password"
        autocomplete="new-password"
        class="input-field"
      />
    </div>
    <button type="submit" [disabled]="signupForm.invalid" class="submit-btn">Signup</button>
    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
  </form>
</div>
